<template>
  <a-modal
    v-model:visible="visible"
    :title="Number.isInteger(fields.id) ? '编辑店铺' : '新增店铺'"
    :confirm-loading="confirmLoading"
    :afterClose="remove"
    width="40%"
    @ok="handleOk"
  >
    <a-form
      ref="formRef"
      :model="storeForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 12 }"
      autoComplete="off"
    >
      <a-form-item v-if="Number.isInteger(fields.id)" label="商家ID" name="id">
        <a-input v-model:value="storeForm.id" :disabled="true" />
      </a-form-item>
      <a-form-item label="店铺名称" name="name" :rules="rules.name">
        <a-input
          v-model:value="storeForm.name"
          :disabled="Number.isInteger(fields.id)"
          placeholder="请输入店铺名称"
        />
      </a-form-item>
      <a-form-item label="复购时间" name="nextBuyTime" :rules="rules.nextBuyTime">
        <a-input-number v-model:value="storeForm.nextBuyTime" placeholder="请输入复购时间" />
        <span class="suffix">天</span>
      </a-form-item>
      <a-form-item label="预警距离" name="distance" :rules="rules.distance">
        <a-input-number v-model:value="storeForm.distance" placeholder="请输入预警距离" />
        <span class="suffix">米</span>
      </a-form-item>
      <a-form-item label="返还佣金" name="commission" :rules="rules.commission">
        <a-input-number
          v-model:value="storeForm.commission"
          placeholder="请输入返还佣金"
          :formatter="(value) => `${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')"
          :parser="(value) => `${value}`.replace(/\$\s?|(,*)/g, '')"
          :precision="2"
        />
        <span class="suffix">元</span>
      </a-form-item>
      <a-form-item label="最大领取任务数" name="maxTaskCount" :rules="rules.maxTaskCount">
        <a-input-number v-model:value="storeForm.maxTaskCount" placeholder="请输入最大领取任务数" />
      </a-form-item>
      <a-form-item label="最大返款金额" name="maxRefundAmount" :rules="rules.maxRefundAmount">
        <a-input-number
          v-model:value="storeForm.maxRefundAmount"
          placeholder="请输入最大返款金额"
          :formatter="(value) => `${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')"
          :parser="(value) => `${value}`.replace(/\$\s?|(,*)/g, '')"
          :precision="2"
        />
        <span class="suffix">元</span>
      </a-form-item>
      <!-- <a-form-item label="预警时间" name="time" :rules="rules.time">
        <a-input-number
          v-model:value="storeForm.time"
          :disabled="Number.isInteger(fields.id)"
          placeholder="请输入预警时间"
        />
        <span class="suffix">天</span>
      </a-form-item>-->
    </a-form>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, ref } from 'vue'
// import { postAdminAccess, getAdminAccessModule, patchAdminAccess } from '@/api/system/access'
import { Modal, Form, InputNumber, Input } from 'ant-design-vue'
import { createStore, updateStore } from '@/api/buyer'
import { formatDate } from '@/utils/common'
interface IState {
  visible: boolean
  confirmLoading: boolean
}

export default defineComponent({
  name: 'StoreAddModal',
  components: {
    [Modal.name]: Modal,
    [Form.name]: Form,
    [Form.Item.name]: Form.Item,
    [InputNumber.name]: InputNumber,
    [Input.name]: Input
  },
  props: {
    remove: {
      // 移除模态框
      type: Function
    },
    fields: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    const formRef = ref<any>(null)

    const state: IState = reactive({
      visible: true,
      confirmLoading: false
    })
    const storeForm = reactive({
      name: null,
      url: null,
      nextBuyTime: null,
      distance: null,
      commission: null,
      maxTaskCount: null,
      maxRefundAmount: null,
      createTime: null,
      id: null
    })

    // 如果有id,则为编辑操作
    if (props.fields.id) {
      Object.keys(storeForm).forEach((key) => (storeForm[key] = props.fields[key]))
      storeForm.commission = props.fields.commission / 100
      storeForm.maxRefundAmount = props.fields.maxRefundAmount / 100
    }

    const rules = {
      name: [
        {
          required: true,
          message: '店铺名称不能为空'
        }
      ],
      url: [
        {
          required: true,
          message: '店铺链接不能为空'
        }
      ],
      nextBuyTime: [
        {
          required: true,
          message: '复购时间不能为空',
          type: 'number'
        }
      ],
      distance: [
        {
          required: true,
          message: '预警距离不能为空',
          type: 'number'
        }
      ],
      commission: [
        {
          required: true,
          message: '返还佣金不能为空',
          type: 'number'
        }
      ],
      maxTaskCount: [
        {
          required: true,
          message: '客服最大领取任务数不能为空',
          type: 'number'
        }
      ],
      maxRefundAmount: [
        {
          required: true,
          message: '最大返款金额不能为空',
          type: 'number'
        }
      ]
    }

    onMounted(async () => {})

    const handleOk = (e) => {
      e.preventDefault()
      state.confirmLoading = true
      formRef.value
        .validate()
        .then(async () => {
          const id = props.fields.id
          let params = toRaw(storeForm)
          params.createTime = formatDate(new Date())
          params.commission = params.commission * 100
          params.maxRefundAmount = params.maxRefundAmount * 100
          params.id = id ?? null
          await (id ? updateStore(params) : createStore(params)).finally(
            () => (state.confirmLoading = false)
          )
          state.visible = false
          props?.callback?.()
        })
        .catch((err) => {
          console.log('error', err)
          state.confirmLoading = false
        })
    }

    return {
      ...toRefs(state),
      formRef,
      rules,
      storeForm,
      handleOk
    }
  }
})
</script>

<style lang="scss"></style>
