<template>
  <div class="box">
    <a-form ref="formRef" layout="inline" :model="queryParams.store" autoComplete="off">
      <a-form-item label="店铺名称" name="name">
        <a-input v-model:value="queryParams.store.name" placeholder="请输入店铺名称" />
      </a-form-item>
      <a-form-item label="复购时间" name="nextBuyTime">
        <a-input v-model:value="queryParams.store.nextBuyTime" placeholder="请输入复购时间" />
      </a-form-item>
      <a-form-item label="预警距离" name="distance">
        <a-input v-model:value="queryParams.store.distance" placeholder="请输入预警距离" />
      </a-form-item>
    </a-form>
    <div class="search">
      <a-space>
        <a-button @click="rest"> 重置 </a-button>
        <a-button type="primary" @click="search"> 查询 </a-button>
      </a-space>
    </div>
    <dynamic-table
      ref="tableRef"
      :columns="columns"
      rowKey="id"
      :row-selection="rowSelection"
      :queryParams="queryParams"
      :get-list-func="getStoreList"
    >
      <template #title>
        <a-button type="primary" @click="addOrder">新 增</a-button>
      </template>
    </dynamic-table>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, createVNode, computed, ref } from 'vue'
import { useStore } from '@/store'
import router from '@/router'
import { columns } from './columns'
import { DynamicTable } from '@/components/dynamic-table'
import AddModal from './add-modal.vue'
import { useCreateModal } from '@/hooks'
import { getStoreList } from '@/api/buyer'
export default defineComponent({
  name: 'StoreSetup',
  components: {
    DynamicTable
  },
  setup() {
    const tableRef = ref<any>(null)
    const state = reactive({
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
        },
        selectedRowKeys: []
      },
      queryParams: {
        store: {
          name: null,
          url: null,
          nextBuyTime: null,
          distance: null
        }
      }
    })
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams.store = {
        name: null,
        url: null,
        nextBuyTime: null,
        distance: null
      }
      tableRef.value.refreshTableData()
    }
    const userInfo = useStore().getters['user/userInfo']
    const isDisabled = computed(() => state.rowSelection.selectedRowKeys.length == 0)
    // 添加店铺
    const addOrder = () => {
      useCreateModal(AddModal, {
        callback: () => {
          tableRef.value.refreshTableData()
        }
      })
    }
    return {
      ...toRefs(state),
      isDisabled,
      tableRef,
      columns,
      userInfo,
      addOrder,
      getStoreList,
      search,
      rest
    }
  },
  methods: {
    exportData() {
      console.log(this.rowSelection)
    }
  }
})
</script>

<style lang="scss" scoped>
.ant-input-number {
  width: 100%;
}
.img {
  width: 100px;
  height: 100px;
}
</style>
