<template>
  <a-modal
    v-model:visible="visible"
    :title="Number.isInteger(fields.id) ? '编辑任务' : '新增任务'"
    :confirm-loading="confirmLoading"
    :afterClose="remove"
    width="60%"
    class="order-entry"
    @ok="handleOk"
  >
    <a-form
      ref="formRef"
      :model="orderEntryForm"
      on-ok="handleOk"
      on-cancel="handleCancel"
      :label-col="{ span: 6 }"
      :wrapper-col="{ span: 16 }"
      autoComplete="off"
    >
      <div class="flexBox">
        <a-form-item label="主图" name="orderPicture" class="mr20" :rules="rules.orderPicture">
          <a-upload
            name="file"
            list-type="picture-card"
            class="avatar-uploader"
            :show-upload-list="false"
            action="https://manager.diggold.cloud/api/user/upload/profilephoto"
            @change="handleChange"
          >
            <img
              v-if="orderEntryForm.orderPicture"
              class="img"
              :src="orderEntryForm.orderPicture"
              alt="avatar"
            />
            <div v-else>
              <loading-outlined v-if="loading" />
              <plus-outlined v-else />
              <div class="ant-upload-text">上传主图</div>
            </div>
          </a-upload>
        </a-form-item>
        <div class="flexBox flex1">
          <div class="width50">
            <a-form-item
              label="所属店铺"
              name="storeName"
              class="select-group"
              :rules="rules.storeName"
            >
              <a-select v-model:value="orderEntryForm.storeName" placeholder="请选择所属店铺">
                <a-select-option v-for="sub in shopList" :key="sub.id" :value="sub.name">{{
                  sub.name
                }}</a-select-option>
              </a-select>
            </a-form-item>
            <a-form-item label="宝贝标题" name="title">
              <a-input v-model:value="orderEntryForm.title" placeholder="请输入宝贝标题" />
            </a-form-item>
            <a-form-item label="宝贝链接" name="url">
              <a-input v-model:value="orderEntryForm.url" placeholder="请输入宝贝链接" />
            </a-form-item>
          </div>
          <div class="width50">
            <a-form-item label="主图打码" name="code" class="sex-radio">
              <a-radio-group v-model:value="orderEntryForm.code">
                <a-radio :value="0">否</a-radio>
                <a-radio :value="1">是</a-radio>
              </a-radio-group>
            </a-form-item>
            <a-form-item label="做单要求" name="demand" :rules="rules.demand">
              <a-input v-model:value="orderEntryForm.demand" placeholder="请输入做单要求" />
            </a-form-item>
            <a-form-item label="性别" name="sex" class="sex-radio">
              <a-radio-group v-model:value="orderEntryForm.sex">
                <a-radio value="0">无限制</a-radio>
                <a-radio value="1">男</a-radio>
                <a-radio value="2">女</a-radio>
              </a-radio-group>
            </a-form-item>
          </div>
        </div>
      </div>
      <div class="flexBox">
        <div class="left flexBox">
          <a-form-item
            label="关键词"
            name="keyword"
            :label-col="{ span: 4 }"
            :wrapper-col="{ span: 20 }"
          >
            <a-space>
              <a-button type="primary" @click="addKeyWords">新增</a-button>
              <!-- <a-button type="default" @click="importKeyWord">导出模板</a-button> -->
              <a
                href="https://manager.diggold.cloud/api/storeorder/downloadfile?filename=template.xls"
                >导出模板</a
              >
              <a-upload
                name="file"
                :showUploadList="false"
                :multiple="false"
                :file-list="fileListcl"
                :before-upload="beforeUploadcl"
                :customRequest="uploadFilecl"
              >
                <a-button type="default">批量导入</a-button>
              </a-upload>
            </a-space>
            <a-table
              ref="tableRef"
              :columns="columns"
              :data-source="orderEntryForm.keywordTasks"
              :pagination="false"
              :scroll="{ x: 1500, y: 300 }"
            >
              <template #keyword="{ record }">
                <a-input v-model:value="record.keyword" placeholder="请输入搜索关键词" />
              </template>
              <template #time00="{ record }">
                <a-input-number v-model:value="record.time00" :precision="0" :min="0" />
              </template>
              <template #time01="{ record }">
                <a-input-number v-model:value="record.time01" :precision="0" :min="0" />
              </template>
              <template #time02="{ record }">
                <a-input-number v-model:value="record.time02" :precision="0" :min="0" />
              </template>
              <template #time03="{ record }">
                <a-input-number v-model:value="record.time03" :precision="0" :min="0" />
              </template>
              <template #time04="{ record }">
                <a-input-number v-model:value="record.time04" :precision="0" :min="0" />
              </template>
              <template #time05="{ record }">
                <a-input-number v-model:value="record.time05" :precision="0" :min="0" />
              </template>
              <template #time06="{ record }">
                <a-input-number v-model:value="record.time06" :precision="0" :min="0" />
              </template>
              <template #time07="{ record }">
                <a-input-number v-model:value="record.time07" :precision="0" :min="0" />
              </template>
              <template #time08="{ record }">
                <a-input-number v-model:value="record.time08" :precision="0" :min="0" />
              </template>
              <template #time09="{ record }">
                <a-input-number v-model:value="record.time09" :precision="0" :min="0" />
              </template>
              <template #time10="{ record }">
                <a-input-number v-model:value="record.time10" :precision="0" :min="0" />
              </template>
              <template #time11="{ record }">
                <a-input-number v-model:value="record.time11" :precision="0" :min="0" />
              </template>
              <template #time12="{ record }">
                <a-input-number v-model:value="record.time12" :precision="0" :min="0" />
              </template>
              <template #time13="{ record }">
                <a-input-number v-model:value="record.time13" :precision="0" :min="0" />
              </template>
              <template #time14="{ record }">
                <a-input-number v-model:value="record.time14" :precision="0" :min="0" />
              </template>
              <template #time15="{ record }">
                <a-input-number v-model:value="record.time15" :precision="0" :min="0" />
              </template>
              <template #time16="{ record }">
                <a-input-number v-model:value="record.time16" :precision="0" :min="0" />
              </template>
              <template #time17="{ record }">
                <a-input-number v-model:value="record.time17" :precision="0" :min="0" />
              </template>
              <template #time18="{ record }">
                <a-input-number v-model:value="record.time18" :precision="0" :min="0" />
              </template>
              <template #time19="{ record }">
                <a-input-number v-model:value="record.time19" :precision="0" :min="0" />
              </template>
              <template #time20="{ record }">
                <a-input-number v-model:value="record.time20" :precision="0" :min="0" />
              </template>
              <template #time21="{ record }">
                <a-input-number v-model:value="record.time21" :precision="0" :min="0" />
              </template>
              <template #time22="{ record }">
                <a-input-number v-model:value="record.time22" :precision="0" :min="0" />
              </template>
              <template #time23="{ record }">
                <a-input-number v-model:value="record.time23" :precision="0" :min="0" />
              </template>
              <template #action="{ text, record, index }">
                <span class="del" @click="del(index)">删除</span>
              </template>
            </a-table>
          </a-form-item>
        </div>
      </div>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, ref, computed } from 'vue'
import { PlusOutlined, LoadingOutlined } from '@ant-design/icons-vue'
import {
  Modal,
  Form,
  InputNumber,
  Input,
  Upload,
  Select,
  message,
  Button,
  Table,
  Radio,
  Space
} from 'ant-design-vue'
import { formatDate } from '@/utils/common'
import { getAllStore, updateOrder, createOrder, download } from '@/api/buyer'
import { storage } from '@/utils/Storage'
import { CURRENT_USER } from '@/store/mutation-types'
import { useStore } from '@/store'
import XLSX from 'xlsx'
export default defineComponent({
  name: 'OrderEntryModal',
  components: {
    [Modal.name]: Modal,
    [Form.name]: Form,
    [Form.Item.name]: Form.Item,
    [InputNumber.name]: InputNumber,
    [Input.name]: Input,
    aUpload: Upload,
    [Select.name]: Select,
    ASelectOption: Select.Option,
    LoadingOutlined,
    PlusOutlined,
    AButton: Button,
    [Table.name]: Table,
    [Radio.name]: Radio,
    [Radio.Group.name]: Radio.Group,
    [Space.name]: Space
  },
  props: {
    remove: {
      // 移除模态框
      type: Function
    },
    fields: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    const formRef = ref<any>(null)
    const state = reactive({
      visible: true,
      confirmLoading: false,
      shopList: [],
      startTimeRange: '',
      endTimeRange: '',
      orderEntryForm: {
        orderPicture: '',
        url: null,
        keywordTasks: [],
        demand: null,
        storeName: null,
        createTime: null,
        employee: storage.get(CURRENT_USER).id,
        id: null,
        sex: '0',
        code: 0,
        title: null
      },
      keyWordsShow: false,
      tempKeyWords: [],
      tasks: null,
      checked: false,
      loading: false,
      fileListcl: [],
      tableData: [],
      columns: []
    })
    // 如果有id,则为编辑操作
    if (props.fields.id) {
      Object.keys(state.orderEntryForm).forEach(
        (key) => (state.orderEntryForm[key] = props.fields[key])
      )
      if (props.fields.addType === 'copy') {
        state.orderEntryForm.id = null
      }
      const data = computed(() => {
        return props.fields.keywordTasks
      })
      let arr = []
      data.value.forEach((v) => {
        let obj = {
          keyword: v.keyword,
          time00: 0,
          time01: 0,
          time02: 0,
          time03: 0,
          time04: 0,
          time05: 0,
          time06: 0,
          time07: 0,
          time08: 0,
          time09: 0,
          time10: 0,
          time11: 0,
          time12: 0,
          time13: 0,
          time14: 0,
          time15: 0,
          time16: 0,
          time17: 0,
          time18: 0,
          time19: 0,
          time20: 0,
          time21: 0,
          time22: 0,
          time23: 0
        }
        v.tasks.forEach((sub) => {
          const first = sub.startTime < 10 ? '0' + sub.startTime : sub.startTime
          obj[`time${first}`] = sub.tasks
        })
        arr.push(obj)
      })
      state.orderEntryForm.keywordTasks = arr
    }
    // 关键词表格
    const columns = [
      {
        title: '关键词',
        dataIndex: 'keyword',
        width: 250,
        slots: { customRender: 'keyword' }
      },
      {
        title: '00:00',
        dataIndex: 'time00',
        slots: { customRender: 'time00' },
        width: 150
      },
      {
        title: '01:00',
        dataIndex: 'time01',
        slots: { customRender: 'time01' },
        width: 150
      },
      {
        title: '02:00',
        dataIndex: 'time02',
        slots: { customRender: 'time02' },
        width: 150
      },
      {
        title: '03:00',
        dataIndex: 'time03',
        slots: { customRender: 'time03' },
        width: 150
      },
      {
        title: '04:00',
        dataIndex: 'time04',
        slots: { customRender: 'time04' },
        width: 150
      },
      {
        title: '05:00',
        dataIndex: 'time05',
        slots: { customRender: 'time05' },
        width: 150
      },
      {
        title: '06:00',
        dataIndex: 'time06',
        slots: { customRender: 'time06' },
        width: 150
      },
      {
        title: '07:00',
        dataIndex: 'time07',
        slots: { customRender: 'time07' },
        width: 150
      },
      {
        title: '08:00',
        dataIndex: 'time08',
        slots: { customRender: 'time08' },
        width: 150
      },
      {
        title: '09:00',
        dataIndex: 'time09',
        slots: { customRender: 'time09' },
        width: 150
      },
      {
        title: '10:00',
        dataIndex: 'time10',
        slots: { customRender: 'time10' },
        width: 150
      },
      {
        title: '11:00',
        dataIndex: 'time11',
        slots: { customRender: 'time11' },
        width: 150
      },
      {
        title: '12:00',
        dataIndex: 'time12',
        slots: { customRender: 'time12' },
        width: 150
      },
      {
        title: '13:00',
        dataIndex: 'time13',
        slots: { customRender: 'time13' },
        width: 150
      },
      {
        title: '14:00',
        dataIndex: 'time14',
        slots: { customRender: 'time14' },
        width: 150
      },
      {
        title: '15:00',
        dataIndex: 'time15',
        slots: { customRender: 'time15' },
        width: 150
      },
      {
        title: '16:00',
        dataIndex: 'time16',
        slots: { customRender: 'time16' },
        width: 150
      },
      {
        title: '17:00',
        dataIndex: 'time17',
        slots: { customRender: 'time17' },
        width: 150
      },
      {
        title: '18:00',
        dataIndex: 'time18',
        slots: { customRender: 'time18' },
        width: 150
      },
      {
        title: '19:00',
        dataIndex: 'time19',
        slots: { customRender: 'time19' },
        width: 150
      },
      {
        title: '20:00',
        dataIndex: 'time20',
        slots: { customRender: 'time20' },
        width: 150
      },
      {
        title: '21:00',
        dataIndex: 'time21',
        slots: { customRender: 'time21' },
        width: 150
      },
      {
        title: '22:00',
        dataIndex: 'time22',
        slots: { customRender: 'time22' },
        width: 150
      },
      {
        title: '23:00',
        dataIndex: 'time23',
        slots: { customRender: 'time23' },
        width: 150
      },
      {
        title: '操作',
        dataIndex: 'action',
        fixed: 'right',
        slots: { customRender: 'action' },
        width: 100
      }
    ]
    // 输入验证
    const rules = {
      orderPicture: {
        required: true,
        message: '请上传主图',
        trigger: 'change'
      },
      storeName: [
        {
          required: true,
          message: '所属店铺不能为空',
          trigger: 'blur'
        }
      ],
      title: [
        {
          required: true,
          message: '宝贝标题不能为空',
          trigger: 'blur'
        }
      ],
      url: [
        {
          required: true,
          message: '宝贝链接不能为空',
          trigger: 'blur'
        }
      ],
      demand: [
        {
          required: true,
          message: '做单要求不能为空',
          trigger: 'blur'
        }
      ],
      keywordTasks: [
        {
          type: 'array',
          required: true,
          message: '关键词不能为空',
          trigger: 'change'
        }
      ]
    }
    // 添加关键词
    const addKeyWords = () => {
      state.orderEntryForm.keywordTasks.push({
        keyword: null,
        time00: 0,
        time01: 0,
        time02: 0,
        time03: 0,
        time04: 0,
        time05: 0,
        time06: 0,
        time07: 0,
        time08: 0,
        time09: 0,
        time10: 0,
        time11: 0,
        time12: 0,
        time13: 0,
        time14: 0,
        time15: 0,
        time16: 0,
        time17: 0,
        time18: 0,
        time19: 0,
        time20: 0,
        time21: 0,
        time22: 0,
        time23: 0
      })
    }
    // 导出
    const importKeyWord = () => {
      download().then((res) => {
        downloadExecl(res)
      })
    }
    // 下载文件
    const downloadExecl = (response) => {
      let dateTime = new Date()
      const win: any = window
      if (win.navigator && win.navigator.msSaveOrOpenBlob) {
        let blob = new Blob([response.data], {
          type: 'application/vnd.ms-excel;charset=utf-8'
        })
        win.navigator.msSaveOrOpenBlob(
          blob,
          '订单录入模板' +
            dateTime.getFullYear().toString() +
            (dateTime.getMonth() + 1).toString() +
            dateTime.getDate().toString() +
            '.xlsx'
        )
      } else {
        /* 火狐谷歌的文件下载方式 */
        var blob = new Blob([response.data])
        var downloadElement = document.createElement('a')
        var href = window.URL.createObjectURL(blob)
        downloadElement.href = href
        downloadElement.download =
          '订单录入模板' +
          dateTime.getFullYear().toString() +
          (dateTime.getMonth() + 1).toString() +
          dateTime.getDate().toString() +
          '.xlsx'
        document.body.appendChild(downloadElement)
        downloadElement.click()
        document.body.removeChild(downloadElement)
        window.URL.revokeObjectURL(href)
      }
    }
    // 导入
    const uploadFilecl = (file) => {
      const reader = new FileReader()
      reader.readAsArrayBuffer(file.file) //需要传blob类型
      reader.onload = function () {
        const buffer = reader.result
        const XLSX = require('xlsx') //引用
        const wb = XLSX.read(buffer, {
          type: 'binary'
        })
        const outdata = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]])
        let arr = []
        outdata.forEach((v) => {
          const keys = Object.keys(v).splice(1, Object.keys(v).length)
          let obj = new Object() as any
          obj.keyword = v['关键词']
          keys.forEach((sub, index) => {
            const first = sub.split('-')
            obj[`time${first[0].length === 1 ? '0' + first[0] : first[0]}`] = v[sub]
          })
          arr.push(obj)
        })
        state.orderEntryForm.keywordTasks = [...state.orderEntryForm.keywordTasks, ...arr]
      }
    }
    // 上传之前回调
    const beforeUploadcl = (file) => {
      const isJpgOrPng = file.type === 'application/vnd.ms-excel'
      if (!isJpgOrPng) {
        message.error('请选择xlsx类型文件')
        state.fileListcl = []
      }
      return isJpgOrPng
    }
    onMounted(async () => {
      // 获取店铺列表
      const { rows } = await getAllStore()
      state.shopList = rows
    })
    // 图片限制
    const beforeUpload = (file) => {
      const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
      if (!isJpgOrPng) {
        message.error('只能上传jpg，png图片')
      }
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        message.error('图片不得大于2M')
      }
      return isJpgOrPng && isLt2M
    }
    // 修改主图
    const handleChange = (e) => {
      const data = e.file.response
      if (data) {
        state.orderEntryForm.orderPicture = 'https://manager.diggold.cloud' + data.result
      }
    }
    // 订单录入确认
    const handleOk = (e) => {
      e.preventDefault()

      formRef.value
        .validate()
        .then(async () => {
          const id = state.orderEntryForm.id
          let params = JSON.parse(JSON.stringify(state.orderEntryForm))
          let list = JSON.parse(JSON.stringify(params.keywordTasks))
          if (!list?.length) {
            message.error('请添加至少一条关键词')
            return
          }
          let arr = []
          let flag = true
          list.forEach((v, index) => {
            let time = []
            let keys = Object.keys(v).splice(1, 24)
            let values = Object.values(v).splice(1, 24)
            values.forEach((sub, idx) => {
              if (sub > 0) {
                if (idx < 23) {
                  time.push({
                    startTime: keys[idx].substring(4, 6),
                    endTime: keys[idx + 1].substring(4, 6),
                    tasks: sub
                  })
                } else {
                  time.push({
                    startTime: '23',
                    endTime: '24',
                    tasks: sub
                  })
                }
              }
            })
            if (!v.keyword) {
              flag = false
            }
            arr.push({
              keyword: v.keyword,
              tasks: time
            })
          })
          if (!flag) {
            message.error('请设置关键词')
            return
          }
          state.confirmLoading = true
          params.keywordTasks = arr
          console.log('订单录入参数', params)
          params.createTime = formatDate(new Date())
          params.employee = storage.get(CURRENT_USER).id
          if (id) params.id = id
          await (id ? updateOrder(params) : createOrder(params)).finally(
            () => (state.confirmLoading = false)
          )
          state.visible = false
          props?.callback?.()
        })
        .catch((err) => {
          console.log('error', err)
          state.confirmLoading = false
        })
    }
    // 删除单个关键词
    const del = (index) => {
      state.orderEntryForm.keywordTasks.splice(index, 1)
    }
    // 设置关键词时间段
    const setData = (row, index) => {
      if (!row.keyword) {
        message.error('请先设置关键词')
        return
      }
      state.tasks = row.tasks
      state.checked = true
    }
    // 关键词弹框取消
    const closeKeyWords = () => {
      if (state.orderEntryForm.keywordTasks.length === 0) {
        state.tempKeyWords = []
      }
      state.keyWordsShow = false
    }
    const handleKeyWordsOk = () => {
      let list = state.tempKeyWords
      let arr = []
      list.forEach((v) => {
        arr.push({
          keyword: v.keyword
        })
      })
      // state.orderEntryForm.keywordTasks = state.tempKeyWords
      state.keyWordsShow = false
    }
    return {
      ...toRefs(state),
      formRef,
      rules,
      handleOk,
      handleChange,
      beforeUpload,
      addKeyWords,
      del,
      columns,
      closeKeyWords,
      handleKeyWordsOk,
      setData,
      beforeUploadcl,
      uploadFilecl,
      importKeyWord
    }
  }
})
</script>
<style lang="scss">
.avatar-uploader > .ant-upload {
  width: 180px;
  height: 180px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.img {
  width: 180px;
  height: 180px;
}
.set {
  color: #40a9ff;
  cursor: pointer;
  margin-right: 10px;
}
.del {
  color: #ff7875;
  cursor: pointer;
}
.flexBox {
  display: flex;
  .flex1 {
    flex: 1;
  }
}
.order-entry {
  .width33 {
    width: 33%;
  }
  .width50 {
    width: 100%;
  }
  .mr20 {
    margin-right: 20px;
  }
  .left,
  .right {
    width: 100%;
    .ant-row {
      width: 100%;
    }
    .ant-form-item-children {
      flex-direction: column;
      align-items: start;
      .ant-table-wrapper {
        width: 100%;
      }
    }
  }
  .left {
    margin-right: 20px;
  }
  .right {
    margin-top: 32px;
  }
  .sex-radio {
    .ant-form-item-control-wrapper {
      display: flex;
      align-items: center;
    }
  }
}
</style>
