<template>
  <div class="box">
    <a-form ref="formRef" layout="inline" :model="queryParams.storeOrder" autoComplete="off">
      <a-form-item label="所属店铺" name="store">
        <a-select
          v-model:value="queryParams.storeOrder.store"
          placeholder="请选择所属店铺"
          :allowClear="true"
        >
          <Option v-for="(sub, idx) in shopList" :key="sub.name" :value="sub.id">
            {{ sub.name }}
          </Option>
        </a-select>
      </a-form-item>
      <a-form-item label="订单录入时间" name="beforeDays">
        <a-date-picker
          v-model:value="queryParams.beforeDays"
          :disabled-date="disabledDate"
          format="YYYY-MM-DD"
          valueFormat="YYYY-MM-DD"
        />
      </a-form-item>
    </a-form>
    <div class="search">
      <a-space>
        <a-button @click="rest">重置</a-button>
        <a-button type="primary" @click="search">查询</a-button>
      </a-space>
    </div>
    <dynamic-table
      ref="tableRef"
      :columns="columns"
      rowKey="id"
      :row-selection="rowSelection"
      :get-list-func="getOrderList"
      :queryParams="queryParams"
    >
      <template #title>
        <a-button type="primary" @click="addOrder">新 增</a-button>
        <a-button type="primary" :disabled="isDisabled" @click="copyOrder">复 制</a-button>
      </template>
    </dynamic-table>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, createVNode, computed, ref, onMounted } from 'vue'
import { useStore } from '@/store'
import { Upload, message, Select } from 'ant-design-vue'
import moment, { Moment } from 'moment'
import router from '@/router'
import { columns } from './columns'
import { DynamicTable } from '@/components/dynamic-table'
import { getOrderList, getAllStore } from '@/api/buyer'
import { useCreateModal } from '@/hooks'
import AddModal from './add-modal.vue'
export default defineComponent({
  name: 'OrderEntry',
  components: {
    DynamicTable,
    aUpload: Upload,
    [Select.name]: Select,
    Option: Select.Option
  },
  setup() {
    const tableRef = ref<any>(null)
    const formRef = ref<any>(null)
    const userInfo = useStore().getters['user/userInfo']
    const state = reactive({
      tableLoading: false,
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
          state.checkedR = selectedRows
        },
        selectedRowKeys: []
      },
      queryParams: {
        storeOrder: {
          store: null
        },
        beforeDays: null
      },
      loading: false,
      checkedR: [],
      shopList: []
    })
    onMounted(async () => {
      // 获取店铺列表
      const { rows } = await getAllStore()
      state.shopList = rows
    })
    const disabledDate = (current: Moment) => {
      return current && current > moment().subtract('days').endOf('day')
    }
    // 复制订单
    const copyOrder = () => {
      if (state.rowSelection.selectedRowKeys.length === 0) {
        message.error('请选择要复制的订单')
        return
      }
      if (state.rowSelection.selectedRowKeys.length > 1) {
        message.error('只能选择一个订单')
        return
      }
      const data = Object.assign(state.checkedR[0], { addType: 'copy' })
      useCreateModal(AddModal, {
        // 点击删除的回调
        fields: state.checkedR[0],
        callback: () => {
          tableRef.value.refreshTableData()
        }
      })
    }
    // 订单录入
    const addOrder = () => {
      useCreateModal(AddModal, {
        callback: () => {
          tableRef.value.refreshTableData()
        }
      })
    }
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams.beforeDays = null
      state.queryParams.storeOrder = {
        store: null
      }
      tableRef.value.refreshTableData()
    }
    onMounted(async () => {})

    const isDisabled = computed(() => state.rowSelection.selectedRowKeys.length !== 1)

    return {
      ...toRefs(state),
      isDisabled,
      columns,
      userInfo,
      getOrderList,
      addOrder,
      tableRef,
      search,
      rest,
      copyOrder,
      disabledDate
    }
  }
})
</script>

<style lang="scss" scoped></style>
