/*滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条的宽度*/
*::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/*滚动条的设置*/
*::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条鼠标移上去*/
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

/* router view transition */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.35s, opacity 0.28s ease-in-out;
}

.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.97);
}

.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.03);
}

.mb20 {
  margin-bottom: 20px;
}
.table-title {
  padding: 12px 8px;
  padding-left: 0;
}
// numberInput宽度
.ant-form-item-children {
  display: flex;
  align-items: center;
  width: 100%;
  .ant-input-number {
    width: 100%;
  }
  .suffix {
    height: 32px;
    border: 1px solid #d9d9d9;
    line-height: 32px;
    padding: 0 10px;
    border-left: 0;
  }
}
.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper,
.ant-form-inline .ant-form-item > .ant-form-item-label {
  vertical-align: middle !important;
}
.search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
