<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>买手管理系统</title>
    <script src="<%= BASE_URL %>iconfont.js"></script>

</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- IE 浏览器跳转提示升级页面 start -->
    <script>
        if ( /*@cc_on!@*/ false || (!!window.MSInputMethodContext && !!document.documentMode)) {
            window.open("https://support.dmeng.net/upgrade-your-browser.html?referrer=" + encodeURIComponent(window
                .location.href));
        };
    </script>
    <!-- IE 浏览器跳转提示升级页面 end -->
    <script>
        function isIE() {
            if (!!window.ActiveXObject || "ActiveXObject" in window) {
                return true;
            } else {
                return false;
            }
        }
    </script>
    <!--定位-->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=44c1e512b0fa70d3ed28408a771fdd63">
    </script>
</body>

</html>