<template>
  <a-modal
    v-model:visible="visible"
    :title="Number.isInteger(fields.id) ? '编辑店铺' : '新增店铺'"
    :confirm-loading="confirmLoading"
    :afterClose="remove"
    width="40%"
    @ok="handleOk"
  >
    <a-form ref="formRef" :model="storeForm" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item
        label="关联店铺"
        name="relatedStoreIds"
        :rules="rules.relatedStoreIds"
        class="select-group"
      >
        <div v-for="(item, index) in storeForm.relatedStoreIds" :key="index" class="select-item">
          <a-select
            v-model:value="storeForm.relatedStoreIds[index]"
            placeholder="请选择关联店铺"
            :disabled="storeForm.id"
          >
            <Option v-for="(sub, idx) in shopList" :key="sub.name" :value="sub.id + ''">
              {{
                sub.name
              }}
            </Option>
          </a-select>
          <svg-icon v-if="!storeForm.id" icon-class="yuanhuan-jian" @click="del(index)" />
        </div>
        <a-button v-if="!storeForm.id" type="primary" @click="add">追加</a-button>
      </a-form-item>
      <a-form-item label="复购限制" name="nextBuyTime" :rules="rules.nextBuyTime">
        <a-input-number v-model:value="storeForm.nextBuyTime" placeholder="请输入复购限制" />
        <span class="suffix">天</span>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, ref } from 'vue'
// import { postAdminAccess, getAdminAccessModule, patchAdminAccess } from '@/api/system/access'
import { Modal, Form, InputNumber, Input, Select } from 'ant-design-vue'
import { SvgIcon } from '@/components/svg-icon'
import { AButton } from '@/components/button/index'
import { getAllStore, updateRelatedStore, createRelatedstore } from '@/api/buyer'
import { formatDate } from '@/utils/common'
export default defineComponent({
  name: 'StoreAssociationAddModal',
  components: {
    [Modal.name]: Modal,
    [Form.name]: Form,
    [Form.Item.name]: Form.Item,
    [InputNumber.name]: InputNumber,
    [Input.name]: Input,
    [Select.name]: Select,
    Option: Select.Option,
    AButton: AButton,
    SvgIcon
  },
  props: {
    remove: {
      // 移除模态框
      type: Function
    },
    fields: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    const formRef = ref<any>(null)
    const state = reactive({
      visible: true,
      confirmLoading: false,
      shopList: []
    })
    const storeForm: any = reactive({
      relatedStoreIds: [],
      nextBuyTime: null,
      createTime: null,
      id: null
    })
    onMounted(async () => {
      // 获取店铺列表
      const { rows } = await getAllStore()
      state.shopList = rows
    })
    // 如果有id,则为编辑操作
    if (props.fields.id) {
      const data = props
      Object.keys(storeForm).forEach((key) => (storeForm[key] = props.fields[key]))
      // storeForm.nextBuyTime = data.fields.nextBuyTime
      // storeForm.id = data.fields.id
      storeForm.relatedStoreIds = data.fields.relatedStoreIds.split(',')
    }
    const rules = {
      relatedStoreIds: [
        {
          required: true,
          message: '请选择关联店铺',
          type: 'array'
        }
      ],
      nextBuyTime: [
        {
          required: true,
          message: '请输入复购限制',
          type: 'number'
        }
      ]
    }
    // 新增关联店铺选项
    const add = () => {
      storeForm.relatedStoreIds.push('')
    }
    // 删除当前关联店铺
    const del = (index) => {
      storeForm.relatedStoreIds.splice(index, 1)
    }
    // 弹框确认
    const handleOk = (e) => {
      e.preventDefault()
      state.confirmLoading = true
      formRef.value
        .validate()
        .then(async () => {
          const id = props.fields.id ?? null
          const data = toRaw(storeForm)
          let params = {
            relatedStoreIds: data.relatedStoreIds.join(','),
            createTime: formatDate(new Date()),
            id: id,
            nextBuyTime: data.nextBuyTime
          }
          await (id ? updateRelatedStore(params) : createRelatedstore(params)).finally(
            () => (state.confirmLoading = false)
          )
          state.visible = false
          props?.callback?.()
        })
        .catch((err) => {
          console.log('error', err)
          state.confirmLoading = false
        })
    }

    return {
      ...toRefs(state),
      formRef,
      rules,
      storeForm,
      handleOk,
      add,
      del
    }
  }
})
</script>

<style lang="scss">
.noMb {
  margin-bottom: 0;
}
.add-btn {
  margin-left: 20.83333333%;
  margin-bottom: 28px;
}
.select-group {
  width: 100%;
  .ant-form-item-children {
    flex-direction: column;
    align-items: start;
  }
  .select-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .svg-icon {
      width: 1.5em;
      height: 1.5em;
      color: #e74c3c;
      margin-left: 10px;
    }
  }
}
</style>
