<template>
  <div class="box">
    <a-form ref="formRef" layout="inline" :model="queryParams.relatedStore" autoComplete="off">
      <a-form-item label="店铺名称" name="relatedStoreNames">
        <a-input
          v-model:value="queryParams.relatedStore.relatedStoreNames"
          placeholder="请输入店铺名称"
        />
      </a-form-item>
      <a-form-item label="复购时间" name="nextBuyTime">
        <a-input
          v-model:value="queryParams.relatedStore.nextBuyTime"
          placeholder="请输入复购时间"
        />
      </a-form-item>
    </a-form>
    <div class="search">
      <a-space>
        <a-button @click="rest">重置</a-button>
        <a-button type="primary" @click="search">查询</a-button>
      </a-space>
    </div>
    <div class="table-title">
      <a-space>
        <a-button type="primary" @click="addData">添加</a-button>
        <!-- <a-button type="danger" @click="delData">删除</a-button> -->
      </a-space>
    </div>
    <dynamic-table
      ref="tableRef"
      :columns="columns"
      rowKey="id"
      :row-selection="rowSelection"
      :queryParams="queryParams"
      :get-list-func="getRelatedStoreList"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, createVNode, computed, ref } from 'vue'
import { useStore } from '@/store'
import { message, Space } from 'ant-design-vue'
import router from '@/router'
import { columns } from './columns'
import { DynamicTable } from '@/components/dynamic-table'
import AddModal from './add-modal.vue'
import { useCreateModal } from '@/hooks'
import { getRelatedStoreList } from '@/api/buyer'
export default defineComponent({
  name: 'StoreAssociation',
  components: {
    DynamicTable,
    aSpace: Space
  },
  setup() {
    const tableRef = ref<any>(null)
    const state = reactive({
      tableLoading: false,
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
        },
        selectedRowKeys: []
      },
      queryParams: {
        relatedStore: {
          nextBuyTime: null,
          relatedStoreNames: null
        }
      }
    })
    const isDisabled = computed(() => state.rowSelection.selectedRowKeys.length == 0)
    // 添加店铺
    const addData = () => {
      useCreateModal(AddModal, {
        callback: () => {
          tableRef.value.refreshTableData()
        }
      })
    }
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams.relatedStore = {
        nextBuyTime: null,
        relatedStoreNames: null
      }
      tableRef.value.refreshTableData()
    }
    return {
      ...toRefs(state),
      isDisabled,
      columns,
      addData,
      getRelatedStoreList,
      tableRef,
      search,
      rest
    }
  },
  methods: {
    exportData() {
      console.log(this.rowSelection)
    }
  }
})
</script>

<style lang="scss" scoped></style>
