<template>
  <a-modal
    v-model:visible="visible"
    :title="Number.isInteger(fields.id) ? '编辑店铺' : '新增店铺'"
    :confirm-loading="confirmLoading"
    :afterClose="remove"
    width="40%"
    @ok="handleOk"
  >
    <a-form ref="formRef" :model="storeForm" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
      <a-form-item
        label="是否针对所有店铺"
        name="allStore"
        class="select-group"
        @change="changeAll"
      >
        <a-radio-group v-model:value="storeForm.allStore">
          <a-radio :value="1">是</a-radio>
          <a-radio :value="0">否</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="所属店铺" name="storeName" class="select-group">
        <a-select
          v-model:value="storeForm.storeName"
          placeholder="请选择所属店铺"
          :disabled="storeForm.allStore === 1"
        >
          <a-select-option v-for="(sub, idx) in shopList" :key="sub.id" :value="sub.name">
            {{ sub.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="地址关键词" name="keywords" :rules="rules.keywords">
        <a-input v-model:value="storeForm.keywords" placeholder="请输入地址关键词" />
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, ref } from 'vue'
import { Modal, Form, Input, Select, Radio, message } from 'ant-design-vue'
import { SvgIcon } from '@/components/svg-icon'
import { AButton } from '@/components/button/index'
import { getAllStore, createKeyWords, updateKeyWords } from '@/api/buyer'

export default defineComponent({
  name: 'KeyWordsModal',
  components: {
    [Modal.name]: Modal,
    [Form.name]: Form,
    [Form.Item.name]: Form.Item,
    [Input.name]: Input,
    [Select.name]: Select,
    ASelectOption: Select.Option,
    AButton: AButton,
    SvgIcon,
    [Radio.name]: Radio,
    [Radio.Group.name]: Radio.Group
  },
  props: {
    remove: {
      // 移除模态框
      type: Function
    },
    fields: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    const formRef = ref<any>(null)

    const state = reactive({
      visible: true,
      confirmLoading: false,
      shopList: [],
      storeForm: {
        storeName: null,
        keywords: null,
        allStore: 1
      }
    })
    onMounted(async () => {
      // 获取店铺列表
      const { rows } = await getAllStore()
      state.shopList = rows
    })

    // 如果有id,则为编辑操作
    if (props.fields.id) {
      Object.keys(state.storeForm).forEach((key) => (state.storeForm[key] = props.fields[key]))
    }
    const rules = {
      keywords: [
        {
          required: true,
          message: '请输入地址关键词'
        }
      ]
    }
    // 是否所有店铺
    const changeAll = () => {
      if (state.storeForm.allStore === 1) state.storeForm.storeName = null
    }

    const handleOk = (e) => {
      e.preventDefault()
      state.confirmLoading = true
      formRef.value
        .validate()
        .then(async () => {
          const id = props.fields.id
          const params = toRaw(state.storeForm)
          if (params.allStore === 0 && !params.storeName) {
            message.error('请选择所属店铺')
            state.confirmLoading = false
            return
          }
          await (id ? updateKeyWords({ ...params, id: id }) : createKeyWords(params)).finally(
            () => (state.confirmLoading = false)
          )
          state.visible = false
          props?.callback?.()
        })
        .catch((err) => {
          console.log('error', err)
          state.confirmLoading = false
        })
    }

    return {
      ...toRefs(state),
      formRef,
      rules,
      handleOk,
      changeAll
    }
  }
})
</script>

<style lang="scss">
.noMb {
  margin-bottom: 0;
}
.add-btn {
  margin-left: 20.83333333%;
  margin-bottom: 28px;
}
.ant-row {
  align-items: center;
}
.select-group {
  width: 100%;
  .ant-form-item-children {
    flex-direction: column;
    align-items: start;
  }
  .select-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .svg-icon {
      width: 1.5em;
      height: 1.5em;
      color: #e74c3c;
      margin-left: 10px;
    }
  }
}
</style>
