<template>
  <div class="box">
    <a-form ref="formRef" layout="inline" :model="queryParams.alarmKeywords">
      <a-form-item label="店铺名称" name="storeName">
        <a-input v-model:value="queryParams.alarmKeywords.storeName" placeholder="请输入店铺名称" />
      </a-form-item>
      <a-form-item label="关键词" name="wangwang">
        <a-input v-model:value="queryParams.alarmKeywords.keywords" placeholder="请输入关键词" />
      </a-form-item>
    </a-form>
    <div class="search">
      <a-space>
        <a-button @click="rest">重置</a-button>
        <a-button type="primary" @click="search">查询</a-button>
      </a-space>
    </div>
    <div class="table-title">
      <a-space>
        <a-button type="primary" @click="addData">添加</a-button>
        <!-- <a-button type="danger" :disabled="isDisabled" @click="delData">删除</a-button> -->
      </a-space>
    </div>
    <dynamic-table
      ref="tableRef"
      :columns="columns"
      :queryParams="queryParams"
      :get-list-func="getKeyWordsList"
      rowKey="id"
      :row-selection="rowSelection"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, createVNode, computed, ref } from 'vue'
import { useStore } from '@/store'
import { message, Space } from 'ant-design-vue'
import router from '@/router'
import { columns } from './columns'
import { DynamicTable } from '@/components/dynamic-table'
import AddModal from './add-modal.vue'
import { useCreateModal } from '@/hooks'
import { getKeyWordsList } from '@/api/buyer'
export default defineComponent({
  name: 'KeyWord',
  components: {
    DynamicTable,
    aSpace: Space
  },
  setup() {
    const tableRef = ref<any>(null)
    const userInfo = useStore().getters['user/userInfo']
    const state = reactive({
      tableLoading: false,
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
        },
        selectedRowKeys: []
      },
      queryParams: {
        alarmKeywords: {
          storeName: null,
          keywords: null
        }
      }
    })
    const isDisabled = computed(() => state.rowSelection.selectedRowKeys.length == 0)
    // 添加关键词
    const addData = () => {
      useCreateModal(AddModal, {
        callback: () => {
          tableRef.value.refreshTableData()
        }
      })
    }
    const delData = () => {
      console.log(state.rowSelection.selectedRowKeys)
    }
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams = {
        alarmKeywords: {
          storeName: null,
          keywords: null
        }
      }
      tableRef.value.refreshTableData()
    }
    return {
      ...toRefs(state),
      isDisabled,
      columns,
      addData,
      delData,
      getKeyWordsList,
      search,
      rest,
      tableRef
    }
  },
  methods: {}
})
</script>

<style lang="scss" scoped></style>
