<template>
  <a-form ref="formRef" layout="inline" :model="queryParams.user">
    <a-form-item label="用户名" name="name">
      <a-input v-model:value="queryParams.user.name" placeholder="请输入用户名" />
    </a-form-item>
    <a-form-item label="角色" name="role">
      <a-radio-group v-model:value="queryParams.user.role">
        <a-radio value="0">管理员</a-radio>
        <a-radio value="1">客服</a-radio>
      </a-radio-group>
    </a-form-item>
  </a-form>
  <div class="search">
    <a-space>
      <a-button @click="rest">重置</a-button>
      <a-button type="primary" @click="search">查询</a-button>
    </a-space>
  </div>
  <dynamic-table
    ref="tableRef"
    :queryParams="queryParams"
    :columns="columns"
    :get-list-func="getUserList"
    rowKey="id"
    :row-selection="rowSelection"
  >
    <template #title>
      <a-button type="primary" @click="addItem">添加</a-button>
      <!-- <a-button v-permission="{ action: 'delete' }" :disabled="isDisabled" type="primary" @click="deleteItems">
        删除
      </a-button>-->
    </template>
  </dynamic-table>
</template>
<script lang="ts">
import { defineComponent, reactive, toRefs, createVNode, computed, ref } from 'vue'
import { Modal } from 'ant-design-vue'
import { QuestionCircleOutlined } from '@ant-design/icons-vue'
import { DynamicTable } from '@/components/dynamic-table'
import { delAdminAccount, getAdminAccount, postAdminAccount } from '@/api/system/account'
import { creatUser, getUserList } from '@/api/buyer'
import { columns } from './columns'
import { useFormModal } from '@/hooks/useFormModal'
import { getFormSchema } from './form-schema'

export default defineComponent({
  name: 'SystemAccount',
  components: {
    DynamicTable
  },
  setup() {
    const tableRef = ref<any>(null)

    const state = reactive({
      tableLoading: false,
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
        },
        selectedRowKeys: []
      },
      queryParams: {
        user: {
          name: null,
          role: null
        }
      }
    })
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams.user = {
        name: null,
        role: null
      }
      tableRef.value.refreshTableData()
    }
    // 删除多项
    const deleteItems = () => {
      Modal.confirm({
        title: '提示',
        icon: createVNode(QuestionCircleOutlined),
        content: '您确定要删除所有选中吗？',
        onOk: async () => {
          await delAdminAccount(state.rowSelection.selectedRowKeys.toString())
          tableRef.value.refreshTableData()
          state.rowSelection.selectedRowKeys = []
        }
      })
    }
    // 添加账号
    const addItem = () => {
      useFormModal({
        title: '添加账号',
        formSchema: getFormSchema(),
        handleOk: async (modelRef, state) => {
          const { name, passwd, role } = modelRef
          const params = {
            name,
            passwd,
            role: Number(role)
          }
          await creatUser(params)
          tableRef.value.refreshTableData()
        }
      })
    }
    const isDisabled = computed(() => state.rowSelection.selectedRowKeys.length == 0)

    return {
      ...toRefs(state),
      columns,
      tableRef,
      getUserList,
      isDisabled,
      addItem,
      deleteItems,
      search,
      rest
    }
  }
})
</script>
<style lang="scss" scoped>
</style>