<template>
  <div class="box">
    <a-form ref="formRef" layout="inline" :model="queryParams.task" autoComplete="off">
      <a-form-item label="旺旺号" name="wangwang">
        <a-input v-model:value="queryParams.task.wangwang" placeholder="请输入旺旺号" />
      </a-form-item>
      <!-- <a-form-item label="电话号码" name="telNo">
        <a-input v-model:value="queryParams.task.telNo" placeholder="请输入电话号码" />
      </a-form-item>-->
      <a-form-item label="关键词" name="keyword">
        <a-input v-model:value="queryParams.task.keyword" placeholder="请输入关键词" />
      </a-form-item>
      <a-form-item label="店铺名称" name="store">
        <a-select
          v-model:value="queryParams.task.store"
          placeholder="请选择店铺"
          :allowClear="true"
        >
          <Option v-for="(sub, idx) in shopList" :key="sub.name" :value="sub.id">
            {{ sub.name }}
          </Option>
        </a-select>
      </a-form-item>
      <a-form-item v-if="queryParams.isMaster" label="客服名称" name="employee">
        <a-select
          v-model:value="queryParams.task.employee"
          placeholder="请选择客服"
          :allowClear="true"
        >
          <Option v-for="(sub, idx) in employeeList" :key="sub.name" :value="sub.id">
            {{ sub.name }}
          </Option>
        </a-select>
      </a-form-item>
      <a-form-item label="订单时间" name="beforeDays">
        <a-date-picker
          v-model:value="queryParams.beforeDays"
          :disabled-date="disabledDate"
          format="YYYY-MM-DD"
          valueFormat="YYYY-MM-DD"
        />
      </a-form-item>
      <a-form-item label="淘宝订单号" name="taobaoOrderNo">
        <a-input v-model:value="queryParams.task.taobaoOrderNo" placeholder="请输入淘宝订单号" />
      </a-form-item>
    </a-form>
    <div class="search">
      <a-space>
        <a-button @click="rest">重置</a-button>
        <a-button type="primary" @click="search">查询</a-button>
      </a-space>
    </div>
    <div class="table-title">
      <a-button type="primary" @click="exportData">导 出</a-button>
    </div>
    <dynamic-table
      ref="tableRef"
      :columns="columns"
      :get-list-func="getTaskList"
      :queryParams="queryParams"
      rowKey="orderId"
      :row-selection="rowSelection"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, createVNode, onMounted, ref } from 'vue'
import { useStore } from '@/store'
import { Row, Col, message, Select } from 'ant-design-vue'
import router from '@/router'
import { columns } from './columns'
import { DynamicTable } from '@/components/dynamic-table'
import { getTaskList, taskDownload, queryListallemployee, getAllStore } from '@/api/buyer'
import { formatDay } from '@/utils/common'
import moment, { Moment } from 'moment'
export default defineComponent({
  name: 'OrderList',
  components: {
    [Row.name]: Row,
    [Col.name]: Col,
    DynamicTable,
    [Select.name]: Select,
    Option: Select.Option
  },
  setup() {
    const tableRef = ref<any>(null)
    const userInfo = useStore().getters['user/userInfo']
    const state = reactive({
      tableLoading: false,
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
        },
        selectedRowKeys: []
      },
      queryParams: {
        task: {
          wangwang: null,
          telNo: null,
          keyword: null,
          account: null,
          store: null,
          employee: userInfo.role === 0 ? null : userInfo.id,
          taobaoOrderNo: null
        },
        isMaster: userInfo.role === 0 ? true : false,
        beforeDays: null
      },
      shopList: [],
      employeeList: []
    })
    onMounted(async () => {
      // 获取店铺列表
      const { rows } = await getAllStore()
      state.shopList = rows
      if (userInfo.role === 0) {
        state.employeeList = await queryListallemployee()
      }
    })
    const disabledDate = (current: Moment) => {
      return current && current > moment().subtract('days').endOf('day')
    }
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams.beforeDays = null
      state.queryParams.task = {
        wangwang: null,
        telNo: null,
        keyword: null,
        account: null,
        store: null,
        taobaoOrderNo: null,
        employee: userInfo.role === 0 ? null : userInfo.id
      }
      tableRef.value.refreshTableData()
    }
    const exportData = () => {
      if (tableRef.value.data.length === 0) {
        message.error('暂无可导出数据')
        return
      }
      taskDownload(state.queryParams).then((res) => {
        if (!res) {
          message.error('下载内容为空')
          return
        }
        let url = window.URL.createObjectURL(new Blob([res]))
        let link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', `${formatDay(new Date())}任务.csv`)
        document.body.appendChild(link)
        link.click()
        //释放URL对象所占资源
        window.URL.revokeObjectURL(url)
        //用完即删
        document.body.removeChild(link)
      })
    }
    return {
      ...toRefs(state),
      columns,
      userInfo,
      tableRef,
      getTaskList,
      exportData,
      search,
      rest,
      disabledDate
    }
  },
  methods: {}
})
</script>

<style lang="scss" scoped>
.ant-select {
  width: 180px;
}
</style>
