<template>
  <div class="login-box">
    <div class="login-logo">
      <svg-icon icon-class="logo" />
      <h1>买手管理系统</h1>
    </div>
    <a-form layout="horizontal" :model="formInline" @submit.prevent="handleSubmit">
      <a-form-item>
        <a-input v-model:value="formInline.user.name" size="large" placeholder="请输入用户名">
          <template #prefix>
            <user-outlined type="user" />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input
          v-model:value="formInline.user.passwd"
          size="large"
          type="password"
          placeholder="请输入密码"
          autocomplete="new-password"
        >
          <template #prefix>
            <lock-outlined type="passwd" />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input v-model:value="formInline.codeNum" size="large" placeholder="请输入验证码">
          <template #prefix>
            <verified-outlined type="code" />
          </template>
          <template #addonAfter>
            <img id="img" :src="codeImg" @click="refreshCode()" />
          </template>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-button type="primary" html-type="submit" size="large" :loading="loading" block
          >登录</a-button
        >
      </a-form-item>
    </a-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted } from 'vue'
import { message } from 'ant-design-vue'
import { UserOutlined, LockOutlined, VerifiedOutlined } from '@ant-design/icons-vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from '@/store'
import { SvgIcon } from '@/components/svg-icon'
export default defineComponent({
  name: 'Login',
  components: { UserOutlined, LockOutlined, VerifiedOutlined, SvgIcon },
  setup() {
    const state = reactive({
      loading: false,
      formInline: {
        user: {
          name: '',
          passwd: ''
        },
        codeNum: ''
      },
      codeImg: `https://manager.diggold.cloud/api/user/createCode?number=${Math.random()}` // 测试
    })

    const store = useStore()
    const router = useRouter()
    const route = useRoute()
    onMounted(() => {
      refreshCode()
    })
    // 刷新验证码
    const refreshCode = () => {
      state.codeImg = `https://manager.diggold.cloud/api/user/createCode?number=${Math.random()}`
    }
    // 登录提交
    const handleSubmit = async () => {
      const { user, codeNum } = state.formInline
      if (!user.name.trim()) {
        return message.warning('用户名不能为空！')
      }
      if (!user.passwd.trim()) {
        return message.warning('密码不能为空！')
      }
      if (!codeNum.trim()) {
        return message.warning('验证码不能为空！')
      }
      // message.loading('登录中..', 1)
      state.loading = true
      console.log(state.formInline)
      const params = {
        user,
        code: codeNum
      }
      // params.password = md5(password)
      const { status } = await store.dispatch('user/login', params).finally(() => {})
      if (status === 'ok') {
        // 处理登录成功逻辑
      } else {
        state.loading = false
        refreshCode()
        message.success(status || '登录失败')
      }
      if (status === 'ok') {
        const toPath = decodeURIComponent((route.query?.redirect || '/') as string)
        message.success('登录成功！')
        router.replace(toPath).then(() => {
          if (route.name == 'login') {
            router.replace('/')
          }
        })
      } else {
        message.info(status || '登录失败')
      }
    }
    return {
      ...toRefs(state),
      handleSubmit,
      refreshCode
    }
  }
})
</script>

<style lang="scss" scoped>
.login-box {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 240px;
  background: url('~@/assets/login.svg');
  background-size: 100%;
  flex-direction: column;
  align-items: center;

  .login-logo {
    display: flex;
    margin-bottom: 30px;
    align-items: center;

    .svg-icon {
      font-size: 48px;
    }

    img {
      height: 48px;
    }

    h1 {
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

  ::v-deep(.ant-form) {
    width: 400px;

    .ant-col {
      width: 100%;
    }

    .ant-form-item-label {
      padding-right: 6px;
    }
  }
}
</style>
