<template>
  <config-provider :locale="zhCN">
    <router-view v-slot="{ Component }">
      <component :is="Component" />
    </router-view>
  </config-provider>
  <!-- <transition name="slide-up">
    <lock-screen v-if="isLock && $route.name != 'login'" />
  </transition>-->
</template>

<script lang="ts">
import { defineComponent, computed, onMounted, onUnmounted, onBeforeMount } from 'vue'
import zhCN from 'ant-design-vue/es/locale/zh_CN'
import { ConfigProvider } from 'ant-design-vue'
import { useStore } from '@/store'
import { useRoute } from 'vue-router'

export default defineComponent({
  name: 'App',
  components: { ConfigProvider },
  setup() {
    const route = useRoute()
    const store = useStore()
    const _isMobile = () => {
      let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
      return flag;
    }
    onBeforeMount(() => {
      if (_isMobile()) {
        window.location.href = 'https://www.diggold.cloud'
      }
    })
    return {
      zhCN,
    }
  }
})
</script>

<style lang="scss">
@import "~@/styles/global.scss";
@import "~@/styles/common.scss";
@import "~@/styles/override.scss";

.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.35s ease-in;
}

.slide-up-enter-form,
.slide-up-leave-to {
  transform: translateY(-100%);
}
</style>
