<template>
  <div id="map-container" class="left" style="width: 80%; height: 500px"></div>
</template>
<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, watch } from 'vue'
import { queryListnear, querybuyerListall } from '@/api/buyer'
import { message } from 'ant-design-vue'
import { SvgIcon } from '@/components/svg-icon'
import AMap from 'AMap' // 引入高德地图
export default defineComponent({
  name: 'MapContainer',
  components: {
    SvgIcon
  },
  props: {
    data: {
      type: Object,
      default: () => ({})
    },
    mapCenter: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    let map = null
    const state = reactive({
      allList: []
    })
    const getAllList = () => {
      querybuyerListall().then((res) => {
        if (res?.length) {
          state.allList = res
          res.forEach((v) => {
            var marker = new AMap.Marker({
              position: [v.longitude, v.latitude], //不同标记点的经纬度
              title: v.wangwang,
              clickable: true,
              label: {
                offset: new AMap.Pixel(0, 5),  //设置文本标注偏移量
                content: `<div class='info'>${v.wangwang}</div>`, //设置文本标注内容
                direction: 'bottom' //设置文本标注方位
              }
            })
            // marker.on("click", markerClick);
            // function markerClick(e) {
            //   marker.getLabel().setStyle({ display: 'none' })
            // }
            marker.setMap(map)
          })
        }
      })
    }
    // 如果有id,则为编辑操作
    if (props.data) {
    }
    onMounted(async () => {
      await init()
      getAllList()
      watch(
        () => props.mapCenter,
        (value) => {
          if (value) {
            setMapCenter(value)
          }
        },
        { immediate: true }
      )
    })
    const init = () => {
      map = new AMap.Map('map-container', {
        resizeEnable: true,
        zoom: 18
      })
    }
    const setMapCenter = (data) => {
      var marker = new AMap.Marker({
        position: [data.longitude, data.latitude], //不同标记点的经纬度
        title: data.wangwang,
        clickable: true,
        label: {
          offset: new AMap.Pixel(0, 5),  //设置文本标注偏移量
          content: `<div class='info'>${data.wangwang}</div>`, //设置文本标注内容
          direction: 'bottom' //设置文本标注方位
        }
      })
      marker.setMap(map)
      map.setCenter([data.longitude, data.latitude]) //设置地图中心点
    }
    return {
      ...toRefs(state),
      setMapCenter
    }
  }
})
</script>

<style lang="scss">
.amap-marker-label {
  border: 1px solid #666;
  padding: 5px;
}
</style>
