<template>
  <div class="dashboard">
    <a-row class="table-title">
      <a-col v-for="item in links" :key="item.url">
        {{ item.des }}：
        <span class="url">{{ item.url }}</span>
        <a-button type="warning" value="small" @click="copy(item.url)">复制链接</a-button>
        <a-button type="primary" value="small" @click="toQrcode(item.url)">二维码</a-button>
      </a-col>
    </a-row>
    <a-form ref="formRef" layout="inline" :model="queryParams.buyer" autocomplete="off">
      <a-form-item label="旺旺号" name="wangwang">
        <a-input v-model:value="queryParams.buyer.wangwang" placeholder="请输入旺旺号" />
      </a-form-item>
      <a-form-item label="手机号" name="telNo">
        <a-input v-model:value="queryParams.buyer.telNo" placeholder="请输入手机号" />
      </a-form-item>
      <a-form-item label="微信昵称" name="nickName">
        <a-input v-model:value="queryParams.buyer.nickName" placeholder="请输入微信昵称" />
      </a-form-item>
      <a-form-item label="QQ" name="qq">
        <a-input v-model:value="queryParams.buyer.qq" placeholder="请输入qq" />
      </a-form-item>
      <a-form-item label="所属店铺" name="store">
        <a-select
          v-model:value="queryParams.buyer.store"
          placeholder="请选择店铺"
          :allowClear="true"
        >
          <Option v-for="(sub, idx) in shopList" :key="sub.name" :value="sub.id">{{
            sub.name
          }}</Option>
        </a-select>
      </a-form-item>
      <a-form-item v-if="queryParams.isMaster" label="所属客服" name="employee">
        <a-select
          v-model:value="queryParams.buyer.employee"
          placeholder="请选择客服"
          :allowClear="true"
        >
          <Option v-for="(sub, idx) in employeeList" :key="sub.name" :value="sub.id">{{
            sub.name
          }}</Option>
        </a-select>
      </a-form-item>
      <a-form-item label="订单状态" name="status">
        <a-select
          v-model:value="queryParams.buyer.status"
          placeholder="请选择订单状态"
          :allowClear="true"
        >
          <Option v-for="(sub, idx) in statusList" :key="sub.name" :value="sub.id">{{
            sub.name
          }}</Option>
        </a-select>
      </a-form-item>
      <a-form-item label="买手登录时间" name="beforeDays">
        <a-date-picker
          v-model:value="queryParams.beforeDays"
          :disabled-date="disabledDate"
          format="YYYY-MM-DD"
          valueFormat="YYYY-MM-DD"
        />
      </a-form-item>
    </a-form>
    <div class="search">
      <a-space>
        <a-button @click="rest">重置</a-button>
        <a-button type="primary" @click="search">查询</a-button>
      </a-space>
    </div>
    <dynamic-table
      ref="tableRef"
      :queryParams="queryParams"
      :columns="columns"
      :get-list-func="getBuyerList"
      rowKey="id"
      :row-selection="rowSelection"
      :scroll="{ x: true }"
    >
      <template #LongitudeLatitude="{ record }"
        >{{ record.longitude }}，{{ record.latitude }}</template
      >
      <template #status="{ record }">
        <span
          class="status"
          :class="[record.status === 4 ? 'suc' : record.status === 5 ? 'fail' : '']"
          >{{ formatBuyerStatus(record.status) }}</span
        >
      </template>
      <template #action="{ record }">
        <a-space>
          <a-button v-if="record.status !== 4" type="primary" @click="examine(record)"
            >修改</a-button
          >
          <a-popconfirm
            title="您确定要删除吗？"
            ok-text="确定"
            cancel-text="取消"
            @confirm="delBuyer(record)"
          >
            <a-button v-if="queryParams.isMaster && record.status === 1" type="danger"
              >删除</a-button
            >
          </a-popconfirm>
          <a-button v-if="record.status === 1" type="primary" @click="toAllocation(record)"
            >任务分配</a-button
          >
          <a-button v-if="record.status === 2" type="primary" @click="taskConfirm(record)"
            >任务完成</a-button
          >
          <a-button v-if="record.status === 2" type="primary" @click="checkDetail(record)"
            >订单详情</a-button
          >
          <a-button v-if="record.status === 3" type="primary" @click="refund(record)"
            >返款</a-button
          >
        </a-space>
      </template>
    </dynamic-table>
    <!-- 返款弹窗 -->
    <a-modal
      v-model:visible="refundVisible"
      title="返款"
      :confirm-loading="refundConfirmLoading"
      width="30%"
      @ok="handleRefundOk"
      @cancel="handleRefundCancel"
    >
      <a-form ref="RefundformRef" :model="refundForm">
        <a-form-item label="支付宝帐户" name="account" :rules="refundRules.account">
          <a-input v-model:value="refundForm.account" placeholder="请输入支付宝帐户" />
        </a-form-item>
        <a-form-item label="支付宝用户名" name="name" :rules="refundRules.name">
          <a-input v-model:value="refundForm.name" placeholder="请输入支付宝用户名" />
        </a-form-item>
      </a-form>
    </a-modal>
    <a-modal v-model:visible="mapVisible" title="提示" width="50%">
      <div id="container" style="width: 100%; height: 500px"></div>
    </a-modal>
    <!-- 订单详情 -->
    <a-modal
      v-model:visible="orderDetailVisible"
      title="订单详情"
      width="50%"
      class="orderDetail-modal"
      @ok="orderDetailVisible = false"
      @cancel="orderDetailVisible = false"
    >
      <a-form ref="orderInfoForm" :model="orderInfo" :label-col="{ style: { width: '80px' } }">
        <a-form-item label="主图：" name="orderPicture">
          <div
            class="img"
            :style="{
              backgroundImage: 'url(' + orderInfo.orderPicture + ')',
              backgroundSize: '100% 100%',
              backgroundRepeat: 'no-repeat'
            }"
          ></div>
        </a-form-item>
        <a-form-item label="宝贝标题：" name="title">{{ orderInfo.title }}</a-form-item>
        <a-form-item label="宝贝链接：" name="url">{{ orderInfo.url }}</a-form-item>
        <a-form-item label="店铺名称：" name="storeName">{{ orderInfo.storeName }}</a-form-item>
        <a-form-item label="关键词：" name="keyword">{{ orderInfo.keyword }}</a-form-item>
        <a-form-item label="做单要求：" name="demand">{{ orderInfo.demand }}</a-form-item>
        <a-form-item label="性别要求：" name="code">
          {{ orderInfo.sex === '0' ? '无要求' : orderInfo.sex === '1' ? '男' : '女' }}
        </a-form-item>
        <a-form-item label="时间段：" name="timeRange"
          >{{ orderInfo.timeRange }}点-{{ Number(orderInfo.timeRange) + 1 }}点</a-form-item
        >
      </a-form>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, toRaw, computed, ref, onMounted } from 'vue'
import { useStore } from '@/store'
import { Row, Col, message, Space, Select, Popconfirm } from 'ant-design-vue'
import { copyText } from '@/utils/common'
import router from '@/router'
import { columns } from './columns'
import { DynamicTable } from '@/components/dynamic-table'
import {
  getBuyerList,
  orderAssign,
  getOrderDetail,
  transferAccount,
  queryListallemployee,
  getAllStore,
  deleteBuyer
} from '@/api/buyer'
import { useCreateModal } from '@/hooks'
import modifyInfoModal from './modifyInfo-modal.vue'
import taskConfirmationModal from './taskConfirmation-modal.vue'
import { formatBuyerStatus } from '@/utils/common'
import moment, { Moment } from 'moment'
export default defineComponent({
  name: 'Dashboard',
  components: {
    [Row.name]: Row,
    [Col.name]: Col,
    DynamicTable,
    aSpace: Space,
    [Select.name]: Select,
    Option: Select.Option,
    [Popconfirm.name]: Popconfirm
  },
  setup() {
    const formRef = ref<any>(null)
    const RefundformRef = ref<any>(null)
    const tableRef = ref<any>(null)
    const userInfo = useStore().getters['user/userInfo']
    const state = reactive({
      links: [
        {
          des: '微信二维码',
          url: `https://test.diggold.cloud/wxregister?employee=${userInfo.id}`
        },
        {
          des: 'qq维码',
          url: `https://test.diggold.cloud/qqregister?employee=${userInfo.id}`
        }
      ],
      rowSelection: {
        onChange: (selectedRowKeys, selectedRows) => {
          state.rowSelection.selectedRowKeys = selectedRowKeys
        },
        selectedRowKeys: []
      },
      refundVisible: false,
      refundConfirmLoading: false,
      mapVisible: false,
      queryParams: {
        buyer: {
          id: null,
          wangwang: null,
          telNo: null,
          nickName: null,
          status: null,
          employee: userInfo.role === 0 ? null : userInfo.id,
          qq: null,
          store: null
        },
        isMaster: userInfo.role === 0 ? true : false,
        beforeDays: null
      },
      orderDetailVisible: false,
      orderInfo: {} as any,
      refundForm: {
        account: '',
        name: '',
        buyerId: ''
      },
      shopList: [],
      employeeList: [],
      statusList: [
        {
          name: '登记完成',
          id: 1
        },
        {
          name: '任务分配完成',
          id: 2
        },
        {
          name: '任务完成',
          id: 3
        },
        {
          name: '返款完成',
          id: 4
        }
      ]
    })
    onMounted(async () => {
      // 获取店铺列表
      const { rows } = await getAllStore()
      state.shopList = rows
      if (userInfo.role === 0) {
        state.employeeList = await queryListallemployee()
      }
    })
    const disabledDate = (current: Moment) => {
      return current && current > moment().subtract('days').endOf('day')
    }
    console.log('queryParams', state.queryParams)
    const copy = async (value) => {
      await copyText(value)
      message.success('复制成功！')
    }
    // 跳转二维码页面
    const toQrcode = (url) => {
      router.push(`/qrcode?url=${url}`)
    }
    const refundRules = {
      account: [
        {
          required: true,
          message: '请输入支付宝帐户'
        }
      ],
      name: [
        {
          required: true,
          message: '请输入支付宝用户名'
        }
      ]
    }
    // 任务分配
    const toAllocation = (data) => {
      const params = {
        loginTime: null,
        wangwang: data.wangwang,
        telNo: data.telNo,
        address: data.address,
        nickName: data.nickName,
        longitude: data.longitude,
        latitude: data.latitude,
        profilePhoto: data.profilePhoto,
        ipAddr: data.ipAddr,
        distance: data.distance,
        employee: userInfo.id,
        status: 2,
        id: data.id
      }
      orderAssign(params)
        .then((res) => {
          if (!res) {
            message.success('分配成功')
          }
          tableRef.value.refreshTableData()
        })
        .catch((error) => {})
    }
    // 查看详情
    const checkDetail = (item) => {
      getOrderDetail({ id: item.orderId })
        .then((res) => {
          if (res) {
            state.orderInfo = res
            state.orderDetailVisible = true
          } else {
            message.error('查询订单详情失败')
          }
        })
        .catch((error) => {})
    }
    // 删除买手
    const delBuyer = (item) => {
      deleteBuyer(item.id).then((res) => {
        tableRef.value.refreshTableData()
      })
    }
    // 修改买手信息
    const examine = (row, callback) => {
      useCreateModal(modifyInfoModal, {
        // 点击删除的回调
        fields: row,
        callback: () => {
          tableRef.value.refreshTableData()
        }
      })
    }
    // 查询列表
    const search = () => {
      tableRef.value.refreshTableData()
    }
    // 重置查询
    const rest = () => {
      state.queryParams.beforeDays = null
      state.queryParams.buyer = {
        id: null,
        wangwang: null,
        telNo: null,
        nickName: null,
        status: null,
        store: null,
        employee: userInfo.role === 0 ? null : userInfo.id,
        qq: null
      }
      tableRef.value.refreshTableData()
    }
    // 任务完成录入信息
    const taskConfirm = async (row, callback) => {
      const { keyword } = await getOrderDetail({ id: row.orderId }).finally(() => {})
      if (keyword) {
        row.keyword = keyword
        useCreateModal(taskConfirmationModal, {
          // 点击删除的回调
          fields: row,
          callback: () => {
            tableRef.value.refreshTableData()
          }
        })
      } else {
        message.error('查询订单详情失败')
      }
    }
    // 点击返款
    const refund = (row) => {
      state.refundForm.buyerId = row.id
      state.refundVisible = true
    }
    // 返款确认
    const handleRefundOk = (e) => {
      e.preventDefault()
      state.refundConfirmLoading = true
      RefundformRef.value
        .validate()
        .then(async () => {
          const params = toRaw(state.refundForm)
          transferAccount(params)
            .then((res) => {
              message.success('返款成功')
              state.refundVisible = false
              state.refundForm = {
                account: '',
                name: '',
                buyerId: ''
              }
              state.refundConfirmLoading = false
              tableRef.value.refreshTableData()
            })
            .catch((error) => {
              state.refundConfirmLoading = false
            })
        })
        .catch((err) => {
          console.log('error', err)
          state.refundConfirmLoading = false
        })
    }
    // 返款取消
    const handleRefundCancel = (e) => {
      state.refundForm = {
        account: '',
        name: '',
        buyerId: ''
      }
      RefundformRef.value.resetFields()
      state.refundVisible = false
    }
    const isDisabled = computed(() => state.rowSelection.selectedRowKeys.length == 0)
    return {
      ...toRefs(state),
      tableRef,
      formRef,
      isDisabled,
      columns,
      copy,
      toQrcode,
      getBuyerList,
      search,
      rest,
      toAllocation,
      examine,
      checkDetail,
      taskConfirm,
      refund,
      handleRefundOk,
      handleRefundCancel,
      formatBuyerStatus,
      disabledDate,
      refundRules,
      RefundformRef,
      delBuyer
    }
  }
})
</script>

<style lang="scss">
.dashboard {
  width: 100%;
  height: calc(100vh - 280px);
  display: flex;
  flex-direction: column;
  .ant-select {
    width: 180px;
  }
  .table-title {
    .ant-col {
      margin-right: 10px;
    }
  }
  .title {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .ant-col {
    margin-bottom: 10px;
    .url {
      margin-right: 10px;
    }
    .ant-btn {
      padding: 1px 5px;
      font-size: 11px;
      line-height: 1.5;
      border-radius: 2px;
      height: 22px;
      &:last-child {
        margin-left: 10px;
      }
    }
  }
  .status {
    color: #67c23a;
    &.suc {
      color: #f56c6c;
    }
    &.fail {
      color: #909399;
    }
  }
}
#container {
  min-width: 100%;
  min-height: 100%;
}

.orderDetail-modal {
  .img {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 1;
    &.imgFilter::after {
      content: '';
      width: 150px;
      height: 150px;
      display: block;
      position: absolute;
      z-index: -1;
      background: url(~@/assets/images/test.png) no-repeat;
      background-size: 100% 100%;
    }
  }

  .ant-form-item {
    margin-bottom: 14px;
    word-break: break-all;
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}
</style>
