<template>
  <a-modal
    v-model:visible="visible"
    title="修改信息"
    :confirm-loading="confirmLoading"
    :afterClose="remove"
    width="50%"
    @ok="handleOk"
  >
    <a-form
      ref="formRef"
      :model="modifyInfoForm"
      :label-col="{ span: 6 }"
      :wrapper-col="{ span: 18 }"
    >
      <a-row>
        <a-col v-if="modifyInfoForm.qq" :span="10">
          <a-form-item label="QQ号：" name="qq">
            <a-input v-model:value="modifyInfoForm.qq" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col v-else :span="10">
          <a-form-item label="微信昵称：" name="nickName">
            <a-input v-model:value="modifyInfoForm.nickName" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col :span="14">
          <a-form-item label="创建IP：" name="ipAddr">
            <a-input v-model:value="modifyInfoForm.ipAddr" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col :span="10">
          <a-form-item label="登录时间：" name="loginTime">
            <a-input v-model:value="modifyInfoForm.loginTime" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col :span="24" class="address-cont">
          <a-form-item label="所在地址：" name="address" :label-col="{ span: 3 }">
            <a-input v-model:value="modifyInfoForm.address" :disabled="true" />
            <div class="nearbyUsers" @click="chcekNearby"><EnvironmentTwoTone />附近用户</div>
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="经度：" name="longitude">
            <a-input v-model:value="modifyInfoForm.longitude" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="纬度：" name="latitude">
            <a-input v-model:value="modifyInfoForm.latitude" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col :span="8">
          <a-form-item label="距离：" name="distance">
            <a-input v-model:value="modifyInfoForm.distance" :disabled="true" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="旺旺号：" name="wangwang" :rules="rules.wangwang">
            <a-input v-model:value="modifyInfoForm.wangwang" type="text" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="手机号：" name="telNo" :rules="rules.telNo">
            <a-input v-model:value="modifyInfoForm.telNo" :maxlength="11" type="tel" />
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </a-modal>
  <a-modal v-model:visible="mapVisible" title="附近买手" width="60%" @ok="handleMapOk">
    <div class="map-container">
      <map-container ref="mapRef" :mapCenter="mapCenter" />
      <div class="right">
        <div class="title">最近的距离</div>
        <a-table
          ref="tableRef"
          rowKey="id"
          :columns="columns"
          :data-source="buyerList"
          :pagination="false"
          :scroll="{ y: 300 }"
        />
      </div>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, ref } from 'vue'
import { updateBuyer, queryListnear, querybuyerListall } from '@/api/buyer'
import { Modal, Form, InputNumber, Input, Select, Row, Col, Table } from 'ant-design-vue'
import { SvgIcon } from '@/components/svg-icon'
import { EnvironmentTwoTone } from '@ant-design/icons-vue'
import { AButton } from '@/components/button/index'
import { storage } from '@/utils/Storage'
import { useCreateModal } from '@/hooks'
import mapContainer from '@/components/map-container/index.vue'
import AMap from 'AMap' // 引入高德地图
export default defineComponent({
  name: 'ModifyInfoModal',
  components: {
    [Modal.name]: Modal,
    [Form.name]: Form,
    [Form.Item.name]: Form.Item,
    [InputNumber.name]: InputNumber,
    [Input.name]: Input,
    [Select.name]: Select,
    Option: Select.Option,
    AButton: AButton,
    SvgIcon,
    [Row.name]: Row,
    [Col.name]: Col,
    EnvironmentTwoTone,
    mapContainer,
    [Table.name]: Table
  },
  props: {
    remove: {
      type: Function
    },
    fields: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    const mapRef = ref<any>(null)
    const formRef = ref<any>(null)
    const state = reactive({
      visible: true,
      confirmLoading: false,
      mapVisible: false,
      columns: [
        {
          title: '旺旺号',
          dataIndex: 'wangwang'
        },
        {
          title: '距离（米）',
          dataIndex: 'distance'
        }
      ],
      buyerList: [],
      mapCenter: []
    })
    const modifyInfoForm: any = reactive({
      profilePhoto: null,
      nickName: null,
      ipAddr: null,
      loginTime: null,
      address: null,
      longitude: null,
      latitude: null,
      distance: null,
      wangwang: null,
      telNo: null,
      id: null,
      qq: null
    })
    // 获取附近买手
    const getListnear = (id) => {
      queryListnear(id).then((res) => {
        state.buyerList = res
      })
    }
    // 如果有id,则为编辑操作
    if (props.fields.id) {
      Object.keys(modifyInfoForm).forEach((key) => (modifyInfoForm[key] = props.fields[key]))
    }
    const chcekNearby = () => {
      getListnear(modifyInfoForm.id)
      state.mapCenter = modifyInfoForm
      state.mapVisible = true
    }
    const rules = {
      wangwang: [
        {
          required: true,
          message: '请输入旺旺号'
        }
      ],
      telNo: [
        {
          required: true,
          message: '请输入手机号'
        }
      ]
    }

    const handleOk = (e) => {
      e.preventDefault()
      state.confirmLoading = true
      formRef.value
        .validate()
        .then(async () => {
          const id = props.fields.id
          const params = {
            id: modifyInfoForm.id,
            wangwang: modifyInfoForm.wangwang,
            telNo: modifyInfoForm.telNo,
            nickName: modifyInfoForm.nickName,
            distance: modifyInfoForm.distance,
            store: modifyInfoForm.store,
            orderId: modifyInfoForm.orderId,
            employee: storage.get('Current-User').id
          }
          await updateBuyer(params).finally(() => (state.confirmLoading = false))
          state.visible = false
          props?.callback?.()
        })
        .catch((err) => {
          console.log('error', err)
          state.confirmLoading = false
        })
    }
    const handleMapOk = () => {
      state.mapVisible = false
    }
    return {
      ...toRefs(state),
      formRef,
      mapRef,
      rules,
      modifyInfoForm,
      handleOk,
      chcekNearby,
      handleMapOk
    }
  }
})
</script>

<style lang="scss">
.address-cont {
  .nearbyUsers {
    line-height: 40px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.map-container {
  display: flex;
  .right {
    width: 30%;
    margin-left: 10px;
  }
}
</style>
