<template>
  <div class="qrcode">
    <div class="box">二维码</div>
    <div id="qrcode" ref="qrCodeUrl"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
import QRCode from 'qrcodejs2'
export default defineComponent({
  name: 'Qrcode',
  components: {},
  setup() {
    const qrCodeUrl = ref(null)
    const url = useRoute().query.url
    const creatQrCode = () => {
      const qrcodeData = document.getElementById('qrcode')
      var qrcode = new QRCode(qrcodeData, {
        text: url,
        width: qrcodeData.offsetWidth,
        height: qrcodeData.offsetHeight,
        colorDark: '#000000',
        colorLight: '#ffffff',
        correctLevel: QRCode.CorrectLevel.H
      })
    }
    onMounted(() => {
      creatQrCode()
    })

    return {
      qrCodeUrl
    }
  }
})
</script>

<style lang="scss" scoped>
.qrcode {
  .box {
    text-align: center;
  }
  :deep(#qrcode) {
    width: 231px;
    height: 231px;
    margin: auto;
    margin-top: 22px;
  }
}
</style>
