<template>
  <a-modal
    v-model:visible="visible"
    title="任务确认"
    :confirm-loading="confirmLoading"
    :afterClose="remove"
    width="40%"
    @ok="handleOk"
  >
    <a-form
      ref="formRef"
      :model="modifyInfoForm"
      :label-col="{ span: 7 }"
      :wrapper-col="{ span: 16 }"
      on-ok="handleOk"
      on-cancel="handleCancel"
    >
      <a-row>
        <a-col :span="12">
          <a-form-item label="旺旺号：" name="wangwang">
            <a-input v-model:value="modifyInfoForm.wangwang" disabled />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="手机号码：" name="telNo">
            <a-input v-model:value="modifyInfoForm.telNo" type="tel" maxlength="11" disabled />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="微信昵称：" name="nickName">
            <a-input v-model:value="modifyInfoForm.nickName" disabled />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="关键词：" name="keyword" :rules="rules.keyword">
            <a-input v-model:value="modifyInfoForm.keyword" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="收货人姓名：" name="consigneeName" :rules="rules.consigneeName">
            <a-input v-model:value="modifyInfoForm.consigneeName" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="收货人手机号：" name="consigneeTelNo" :rules="rules.consigneeTelNo">
            <a-input v-model:value="modifyInfoForm.consigneeTelNo" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="淘宝订单号：" name="taobaoOrderNo" :rules="rules.taobaoOrderNo">
            <a-input v-model:value="modifyInfoForm.taobaoOrderNo" class="taobaoOrderNo-input" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="本金：" name="principal" :rules="rules.principal">
            <a-input-number
              v-model:value="modifyInfoForm.principal"
              :formatter="(value) => `${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')"
              :parser="(value) => `${value}`.replace(/\$\s?|(,*)/g, '')"
              :precision="2"
              :min="0"
            />
            <span class="suffix">元</span>
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted, toRaw, ref } from 'vue'
import { createTask } from '@/api/buyer'
import { Modal, Form, InputNumber, Input, Select, Row, Col, message } from 'ant-design-vue'
import { SvgIcon } from '@/components/svg-icon'
import { AButton } from '@/components/button/index'
import { storage } from '@/utils/Storage'
import { formatDate } from '@/utils/common'
export default defineComponent({
  name: 'TaskConfirmationModal',
  components: {
    [Modal.name]: Modal,
    [Form.name]: Form,
    [Form.Item.name]: Form.Item,
    [InputNumber.name]: InputNumber,
    [Input.name]: Input,
    [Select.name]: Select,
    // [Select.Option.name]: Select.Option,
    Option: Select.Option,
    AButton: AButton,
    SvgIcon,
    [Row.name]: Row,
    [Col.name]: Col
  },
  props: {
    remove: {
      // 移除模态框
      type: Function
    },
    fields: {
      type: Object,
      default: () => ({})
    },
    callback: {
      type: Function
    }
  },
  setup(props) {
    const formRef = ref<any>(null)
    const userInfo = storage.get('CURRENT-USER')
    const state = reactive({
      visible: true,
      confirmLoading: false,
      oldInfo: null
    })
    const modifyInfoForm: any = reactive({
      nickName: '',
      wangwang: '',
      telNo: '',
      id: props.fields.id,
      principal: '',
      account: '',
      keyword: '',
      store: '',
      employee: userInfo.id,
      orderId: '',
      taobaoOrderNo: '',
      consigneeName: null,
      consigneeTelNo: null
    })

    // 如果有id,则为编辑操作
    if (props.fields.id) {
      state.oldInfo = JSON.parse(JSON.stringify(props.fields))
      Object.keys(modifyInfoForm).forEach((key) => (modifyInfoForm[key] = props.fields[key]))
    }
    const rules = {
      principal: [
        {
          required: true,
          message: '请确认本金',
          type: 'number'
        }
      ],
      keyword: [
        {
          required: true,
          message: '请确认关键词'
        }
      ],
      taobaoOrderNo: [
        {
          required: true,
          message: '请输入淘宝订单号'
        }
      ],
      consigneeName: [
        {
          required: true,
          message: '请输入收货人姓名'
        }
      ],
      consigneeTelNo: [
        {
          required: true,
          message: '请输入收货人手机号'
        }
      ]
    }

    onMounted(async () => { })

    const handleOk = (e) => {
      e.preventDefault()
      state.confirmLoading = true
      formRef.value
        .validate()
        .then(async () => {
          const id = props.fields.id
          let params = toRaw(modifyInfoForm)
          params.principal = params.principal * 100
          params.loggingTime = formatDate(new Date())
          const data = {
            task: params,
            buyerId: id
          }
          await createTask(data).finally(() => (state.confirmLoading = false))
          state.visible = false
          props?.callback?.()
        })
        .catch((err) => {
          console.log('error', err)
          state.confirmLoading = false
        })
    }

    return {
      ...toRefs(state),
      formRef,
      rules,
      modifyInfoForm,
      handleOk
    }
  }
})
</script>

<style lang="scss">
.nearbyUsers {
  line-height: 40px;
}
.taobaoOrderNo-input {
  .ant-input-number-handler-wrap {
    display: none !important;
  }
}
</style>
